body{
  background: url("../images/ping.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Cormorant Unicase;
}
h3{
  text-align: center;
  font-family: sans-serif;
}

.pingcenter{
  text-align: center;
  color: #FFFFFF;
  font-size: 55px;
  font-family: sans-serif;
  font-weight: bolder;
}
.pingform{
  background-color: #e6e6e6;
  padding: 3%;
  width: 100%;
  opacity: 0.8;
  border-radius: 3px;
  box-shadow: 1px 2px 3px #e6f9ff;
}
p{
  font-family: Playfair Display;
  font-size: 22px;
  padding: 1%;
}
li{
  font-family: Raleway;
}
h5{
  font-family: Playfair Display;
}
.answercontainer{
  background-color: #FFFFFF;
  width: 50%;
  opacity: 0.8;
  padding: 3%;
  text-align: left;
  font-family: Cormorant Garamond;
  border-radius: 4px;
  box-shadow: 1px 2px 3px #e6f9ff;
}
h6{
  font-family: Playfair Display;
  font-size: 25px;
  color: #FFFFFF;
  text-align: center;
}
u{
  color:#00ace6 ;
}
input{
  color: #004d66;
  padding: 1%;
  border-radius: 7px;
  text-align: center;
  border: none;
  transition: 1000ms;
  box-shadow: 1px 1px 1px 1px #99e6ff;
}
input:hover{
  transition: 1000ms;
  box-shadow: 1px 2px 3px #e6f9ff;
}
.mybtn{
  padding: 1%;
  border-radius: 4px;
  border: none;
  font-family: Playfair Display;
  float: right;
  text-align: center;
  width: 30%;
  background-color: #99e6ff;
  color: #FFFFFF;
  cursor: pointer;
  transition: 2000ms;
}
.mybtn:hover{
  background-color: #FFFFFF;
  color: #000000;
  border:none;
  transition: 1000ms;
  box-shadow: 1px 2px 3px #99e6ff;
}
